name: Build & Deploy Unity Server

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Cache Unity Library
      uses: actions/cache@v4
      with:
        path: Library
        key: Library-${{ hashFiles('**/*.cs') }}

    - name: Setup Unity
      uses: game-ci/unity-setup@v4
      with:
        unity-version: auto

    - name: Build Unity Server
      uses: game-ci/unity-builder@v4
      with:
        targetPlatform: StandaloneLinux64
        buildName: EWMMGServer
        buildPath: Build
        customParameters: -serverBuild
      env:
        UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
        UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Docker image
      run: |
        docker build -t 00h37/ewmmgserver:latest .

    - name: Push Docker image
      run: |
        docker push 00h37/ewmmgserver:latest